/* Resets and base styles from HTML5 Boilerplate */
div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  a:hover, a:active {
    outline: none; }

ul, ol {
  margin-left: 2em;
  vertical-align: top; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

textarea {
  overflow: auto; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }
  input:invalid .no-boxshadow, textarea:invalid .no-boxshadow {
    background-color: #f0dddd; }

button {
  width: auto;
  overflow: visible; }

select, input, textarea {
  color: #444444; }

a {
  color: #607890; }
  a:hover, a:focus {
    color: #036; }
  a:link {
    -webkit-tap-highlight-color: #fff; }

/* End HTML5 Boilerplate adaptations */
h1 {
  font-size: 4.5em; }

h1, .vcenter {
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  max-height: 100%; }
  .csstransforms h1, .csstransforms .vcenter {
    padding: 0 48px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.vcenter h1 {
  position: relative;
  top: auto;
  padding: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

h2 {
  font-size: 2.25em;
  font-weight: bold;
  padding-top: .5em;
  margin: 0 0 .66666em 0;
  border-bottom: 3px solid #888; }

h3 {
  font-size: 1.4375em;
  font-weight: bold;
  margin-bottom: .30435em; }

h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: .25em; }

h5 {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: .2222em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

img, iframe, video {
  display: block;
  max-width: 100%; }

video, iframe, img {
  display: block;
  margin: 0 auto; }

p, blockquote, iframe, img, ul, ol, pre, video {
  margin-bottom: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #888; }

em {
  font-style: italic; }

li {
  padding: .25em 0;
  vertical-align: middle; }
  li > ol, li > ul {
    margin-bottom: inherit; }

.deck-container {
  font-size: 16px;
  line-height: 1.25;
  color: #444; }

.slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Generated by Glyphter (http://www.glyphter.com) on  Fri Apr 18 2014*/
@font-face {
  font-family: 'Glyphter';
  src: url("../../fonts/Glyphter.eot");
  src: url("../../fonts/Glyphter?#iefix") format("embedded-opentype"), url("../../fonts/Glyphter.woff") format("woff"), url("../../fonts/Glyphter.ttf") format("truetype"), url("../../fonts/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal; }

.break-line {
  background: #cc0000;
  height: 1px;
  border: 0;
  margin: -25px 6% 20px;
  position: relative; }
  .break-line:after {
    content: "Pause (~15min)";
    color: #cc0000;
    background: #eee;
    top: -10px;
    position: absolute;
    padding: 0 10px; }

.icon {
  font-family: 'Glyphter'; }
  .icon.x-large {
    font-size: 90px; }
  .icon.xxx-large {
    font-size: 250px; }
  .icon.icon-home:before {
    content: 'A'; }
  .icon.icon-home2:before {
    content: 'C'; }
  .icon.icon-user:before {
    content: 'B'; }
  .icon.icon-cart:before {
    content: 'D'; }
  .icon.icon-ambulance:before {
    content: 'E'; }
  .icon.icon-bulb:before {
    content: 'F'; }
  .icon.icon-penguin:before {
    content: 'G'; }
  .icon.icon-road:before {
    content: 'H'; }
  .icon.icon-truck:before {
    content: 'I'; }
  .icon.icon-bell:before {
    content: 'J'; }
  .icon.icon-child:before {
    content: 'K'; }
  .icon.icon-leaf:before {
    content: 'L'; }
  .icon.icon-sun:before {
    content: 'M'; }

.centered {
  text-align: center; }

ul.large {
  font-size: 25px;
  line-height: 50px; }
  ul.large em {
    font-weight: 300; }

.one-column ul.large {
  font-size: 30px; }

.citation {
  font-size: 14px;
  display: block;
  margin-top: -10px; }

.slide {
  padding: 5%; }
  .slide.bg-white {
    background: #fff; }

body {
  font-family: 'Museo Sans';
  background: #eee; }

/* titles */
h2 {
  font-size: 40px; }

.grey {
  color: #aaa; }

.dark-grey {
  color: #666; }

.white {
  color: #fff; }

.bg-red {
  background: #e06666; }

.bg-yellow {
  background: #f1c232; }

.bg-blue {
  background: #6d9eeb; }

.bg-green {
  background: #93c47d; }

.bg-purple {
  background: #c27ba0; }

h3.hero {
  font-size: 90px;
  font-weight: 300;
  text-align: center;
  margin: 80px 0; }

.one-column,
.two-columns {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .one-column:before, .one-column:after,
  .two-columns:before,
  .two-columns:after {
    content: " ";
    display: table; }
  .one-column:after,
  .two-columns:after {
    clear: both; }

.one-column section {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .one-column section:last-child {
    margin-right: 0; }

.two-columns section {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .two-columns section:last-child {
    margin-right: 0; }

.numbered-title {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  .numbered-title:before, .numbered-title:after {
    content: " ";
    display: table; }
  .numbered-title:after {
    clear: both; }
  .numbered-title .number {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 6.17215%;
    margin-right: 45px; }
    .numbered-title .number:last-child {
      margin-right: 0; }
    .numbered-title .number b, .numbered-title .number i {
      display: inline-block;
      width: 80px;
      height: 80px;
      color: #fff;
      border-radius: 100px;
      padding: 16px 0 0 2px;
      text-align: center;
      font-size: 40px; }
    .numbered-title .number i.icon {
      padding: 14px 0 0 8px; }
  .numbered-title .number.large {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .numbered-title .number.large:last-child {
      margin-right: 0; }
  .numbered-title .vertical-centered {
    line-height: 80px; }
  .numbered-title h2 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%;
    border: 0;
    padding-top: 0; }
    .numbered-title h2:last-child {
      margin-right: 0; }
  .numbered-title small {
    font-weight: 300; }

.numbered-headline {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .numbered-headline:before, .numbered-headline:after {
    content: " ";
    display: table; }
  .numbered-headline:after {
    clear: both; }
  .numbered-headline .number {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .numbered-headline .number:last-child {
      margin-right: 0; }
    .numbered-headline .number b {
      background: #333;
      padding: 20px 32px;
      border-radius: 100px;
      color: #fff; }

.vertical-list {
  margin: 25px 0;
  padding: 0;
  list-style-type: none;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .vertical-list:before, .vertical-list:after {
    content: " ";
    display: table; }
  .vertical-list:after {
    clear: both; }
  .vertical-list li {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%;
    height: 100px;
    line-height: 100px;
    text-align: center; }
    .vertical-list li:last-child {
      margin-right: 0; }

.slide-content {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .slide-content:before, .slide-content:after {
    content: " ";
    display: table; }
  .slide-content:after {
    clear: both; }
  .slide-content .intended {
    margin-left: 8.5298%;
    padding-left: 20px; }

h1 {
  font-weight: 500; }
  h1 small {
    font-weight: 300; }

.full-image {
  padding: 0;
  background-size: 100% 100%;
  background-position: center; }

/* Resets and base styles from HTML5 Boilerplate 
div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover, a:active {
  outline: none;
}

ul, ol {
  margin-left: 2em;
  vertical-align: top;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

textarea {
  overflow: auto;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}
input:invalid .no-boxshadow, textarea:invalid .no-boxshadow {
  background-color: #f0dddd;
}

button {
  width: auto;
  overflow: visible;
}

select, input, textarea {
  color: #444444;
}

a {
  color: #607890;
}
a:hover, a:focus {
  color: #036;
}
a:link {
  -webkit-tap-highlight-color: #fff;
}

h1 {
  font-size: 4.5em;
}

h1, .vcenter {
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  max-height: 100%;
}
.csstransforms h1, .csstransforms .vcenter {
  padding: 0 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.vcenter h1 {
  position: relative;
  top: auto;
  padding: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

h2 {
  font-size: 2.25em;
  font-weight: bold;
  padding-top: .5em;
  margin: 0 0 .66666em 0;
  border-bottom: 3px solid #888;
}

h3 {
  font-size: 1.4375em;
  font-weight: bold;
  margin-bottom: .30435em;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: .25em;
}

h5 {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: .2222em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

img, iframe, video {
  display: block;
  max-width: 100%;
}

video, iframe, img {
  display: block;
  margin: 0 auto;
}

p, blockquote, iframe, img, ul, ol, pre, video {
  margin-bottom: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #888;
}

em {
  font-style: italic;
}

li {
  padding: .25em 0;
  vertical-align: middle;
}
li > ol, li > ul {
  margin-bottom: inherit;
}

.deck-container {
  font-size: 16px;
  line-height: 1.25;
  color: #444;
}

.slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

h1 {
  color: #0af;
  font-weight: normal;
  font-weight: 100;
  text-shadow: 0 0 50px #0af, 0 0 3px #fff;
}

h2 {
  color: #af0;
  border-bottom-color: #ccc;
  font-weight: normal;
  font-weight: 100;
  text-shadow: 0 0 15px #af0, 0 0 2px #fff;
  border-bottom: 1px solid #333;
}

h3 {
  color: #fff;
  font-weight: normal;
  font-weight: 100;
  text-shadow: 0 0 10px #fff, 0 0 2px #fff;
}

pre {
  border-color: #333;
}
pre code {
  color: #fff;
}

code {
  color: #f0a;
}

blockquote {
  font-size: 2em;
  padding: 1em 2em;
  color: #fff;
  border-left: 5px solid #fff;
}
blockquote p {
  margin: 0;
}
blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: normal;
  font-weight: 100;
  color: #aaa;
  text-shadow: 0 0 15px #fff, 0 0 2px #fff;
}

::-moz-selection {
  background: #a0f;
}

::selection {
  background: #a0f;
}

a, a:hover, a:focus, a:active, a:visited {
  color: #f0a;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

.deck-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 1.75em;
  color: #aaa;
  background: #000;
}
.deck-container > .slide {
  padding: 0 48px;
}

.slide .deck-before, .slide .deck-previous {
  opacity: 0.4;
}
.slide .deck-before:not(.deck-child-current) .deck-before, .slide .deck-before:not(.deck-child-current) .deck-previous, .slide .deck-previous:not(.deck-child-current) .deck-before, .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
.slide .deck-child-current {
  opacity: 1;
}

.deck-prev-link, .deck-next-link {
  background: #f0a;
  text-shadow: 0 0 3px #fff;
}
.deck-prev-link, .deck-prev-link:hover, .deck-prev-link:focus, .deck-prev-link:active, .deck-prev-link:visited, .deck-next-link, .deck-next-link:hover, .deck-next-link:focus, .deck-next-link:active, .deck-next-link:visited {
  color: #fff;
}
.deck-prev-link:hover, .deck-prev-link:focus, .deck-next-link:hover, .deck-next-link:focus {
  text-decoration: none;
  box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
}

.deck-status {
  font-size: 0.6666em;
}

.goto-form {
  background: #000;
  border: 1px solid #f0a;
}
.goto-form label {
  color: #fff;
}

.deck-menu .slide {
  background: #333;
}
.deck-menu .deck-current {
  background: #444;
}
.boxshadow .deck-menu .deck-current {
  background: #000;
  box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
}
.no-touch .deck-menu .slide:hover {
  background: #444;
}
.no-touch.boxshadow .deck-menu .slide:hover {
  background: #000;
  box-shadow: 0 0 20px #f0a, 0 0 5px #fff;
}*/
